.jumbotron{
  text-align: center;
}
.col-sm-4{
  text-align: center;
}
label{
  padding: 13px 20px 13px 20px;
  background-color: grey;
}
#player2-die1, #player2-die2, #player1-die1, #player1-die2{
  display: none;
}
#gameArea{
  display: none;
}
